@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Roboto:wght@100;300;400;700;900&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
}
.btn-primary{
    background-color:rgb(58, 135, 236) !important;
    border-color: rgb(58, 135, 236) !important;
}
.btn-info{
    background-color:rgb(46, 185, 240) !important;
    border-color: rgb(46, 185, 240) !important;
}
.btn-success{
    background-color:rgb(21, 192, 169) !important;
    border-color: rrgb(21, 192, 169) !important;
}
.page-item.active .page-link {
    background-color:rgb(58, 135, 236) !important;
    border-color: rgb(58, 135, 236) !important;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin:20px 0 0 !important;

}
